html {
    font-family: sans-serif;
}

body {
  background-color: #dee;
  margin: 0;
}

.container-wrapper {
  padding: 16px 0;
  background-color: white;
}

.container {
    max-width: 750px;
    margin: 32px auto;
}

.page-title {
    font-weight: 200;
    color: #8aa;
    /*margin-left: -1.4em;*/
}

/*.page-title::before {
  content: "＜";
  color: #bcc;
  position: relative;
  font-size: 1.4em;
  font-weight: 100;
  left: -12px;
  top: 2px;
}*/

.page-title > a {
    color: #8aa;
    text-decoration: none;
}

.page-subtitle {
    font-weight: 600;
    color: #233;
}

.pagination {
    text-align: center;
    color: #bcc;
}

.pagination .pagination-item {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 2em;
}

.pagination .pagination-item:hover {
    background: #f2fafa;
}

.post-list {
    list-style: none;
    margin-bottom: 36px;
    padding: 0;
}

.post-list li > a {
    color: #222;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.post-list li > a > * {
    margin-left: 20px;
    margin-right: 20px;
}

.post-list li {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #dee;
}

.post-list li:hover {
    background-color: #f2fafa;
}

.post-list .title {
    font-size: 1.8rem;
    margin: 36px 20px 12px 20px;
}

.post-list .meta {
    margin: 12px 20px 36px 20px;
}

.post {
    padding-top: 64px;
    padding-bottom: 32px;
}

.post .title {
    font-size: 3.5rem;
    margin: 32px auto;
}

.post .meta,
.post-list .meta {
    color: #bcc;
}

.post .meta p,
.post-list .meta p {
  display: inline;
}

.post .meta p:not(:first-child),
.post-list .meta p:not(:first-child) {
  margin-left: 24px;
}

.post .meta p span.h,
.post-list .meta p span.h {
  color: #cdd;
  margin-right: 4px;
}

.post .meta a.tag {
    color: #bcc;
    text-decoration: none;
}

.post .content {
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: 200;
    line-height: 1.8em;
    margin: 64px auto;
}

.post .content a {
    color: #8aa;
    border-bottom: 1px dashed #8aa;
    text-decoration: none;
}

.post .content table {
  border-collapse: separate;
  border-spacing: 2px;
}
.post .content table th,
.post .content table td {
  padding: 6px 12px;
}
.post .content table thead {}
.post .content table thead tr {}
.post .content table thead tr th {
  background-color: #E3F1FF;
}
.post .content table tbody {}
.post .content table tbody tr {}
.post .content table tbody tr td {
  background-color: #FFF8ED;
}

.post .content ul {
  list-style-type: square;
}

.post .content p + .highlight,
.post .content p + pre {
  margin-top: -24px;
}

.post .content pre {
    background-color: #f8f8f8;
    padding: 8px 16px;
    border-radius: 2px;
    overflow-x: scroll;
}

.post .content code {
  background-color: #f8f8f8;
}

.post .content h1,
.post .content h2,
.post .content h3,
.post .content h4,
.post .content h5,
.post .content h6 {
    margin-top: 48px;
}

.post .content p {
    color: #233;
    text-indent: 1em;
    margin: 16px 0 32px 0;
}

.post .content img {
    display: block;
    max-width: 750px;
    box-shadow: 0 0 18px rgba(0,0,0,0.25);
    margin: 16px auto 18px auto;
}

.post .content figcaption {
    /*text-align: center;*/
    font-size: 0.9em;
    line-height: 1.6em;
    color: #555;
    font-weight: 400;
    margin: -16px 16px 12px 16px;
    text-align: center;
}

footer {
    margin: 32px auto;
    text-align: center;
    color: #bcc;
}

footer .copyright {
    display: inline-block;
    /*margin: 16px auto;*/
}

footer > *:not(:last-child):after {
    content: "__";
    margin: 0 16px;
}

footer nav {
    display: inline-block;
    margin: 22px auto;
}

footer nav > ul {
    list-style: none;
    list-style-type: none;
    padding: 0;

    display: flex;
    justify-content: center;
}

footer nav > ul > li {
    list-style-type: none;
    /*display: block;*/
    /*flex-grow: 1;*/
    /*flex: 0 1 auto;*/
    /*text-align: center;*/
}

footer nav > ul > li:not(:last-child):after {
    content: "·";
    margin: 0 16px;
}

footer nav > ul > li > a {
    color: #bcc;
    text-decoration: none;
}
