html {
    font-family: sans-serif;
}

body {
  background-color: #dee;
  margin: 0;
}

.container-wrapper {
  padding: 16px 0;
  background-color: white;
}

.container {
    max-width: 750px;
    margin: 32px auto;
}

.page-title {
    font-weight: normal;
    color: #8aa;
    /*margin-left: -1.4em;*/
}

/*.page-title::before {
  content: "＜";
  color: #bcc;
  position: relative;
  font-size: 1.4em;
  font-weight: 100;
  left: -12px;
  top: 2px;
}*/

.page-title > a {
    color: #8aa;
    text-decoration: none;
}

.page-subtitle {
    font-weight: 600;
    color: #233;
}

.pagination {
    text-align: center;
    color: #bcc;
}

.pagination .pagination-item {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 2em;
}

.pagination .pagination-item:hover {
    background: #f2fafa;
}

.tags-list-wrapper {
  display: inline-block;
}

ul.tags-list {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

ul.tags-list li {
  display: inline;
  list-style-type: none;
}

ul.tags-list li:not(:last-child):after {
  content: "/";
  font-weight: 200;
  color: #bcc;
  padding: 0 8px;
}

.post-list {
    list-style: none;
    margin-bottom: 36px;
    padding: 0;
}

.post-list > li > a {
    color: #222;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.post-list > li > a > * {
    margin-left: 20px;
    margin-right: 20px;
}

.post-list > li {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #dee;
}

.post-list > li:hover {
    background-color: #f2fafa;
}

.post-list > li > a {
  padding-top: 24px;
  padding-bottom: 24px;
}

.post-list .title {
    font-size: 1.8rem;
    margin: 12px 20px 12px 20px;
}

.post-list .meta {
    margin: 12px 20px 12px 20px;
}

.post {
    padding-top: 64px;
    padding-bottom: 32px;
}

.post .title {
    font-size: 3.5rem;
    margin: 32px auto;
}

.post .meta,
.post-list .meta {
    color: #8aa;
    font-weight: 500;
    overflow: hidden;
}

.post .meta .meta-item,
.post-list .meta .meta-item {
  float: left;
  margin: 0;
}

.post .meta .meta-item:not(:first-child),
.post-list .meta .meta-item:not(:first-child) {
  margin-left: 24px;
}

.post .meta .meta-item span.h,
.post-list .meta .meta-item span.h {
  font-weight: normal;
  margin-right: 8px;
}

.post .meta a.tag {
    color: #8aa;
    text-decoration: none;
}

.post .content {
    font-family: sans-serif;
    font-size: 14pt;
//    font-weight: 200;
    line-height: 1.8em;
    margin: 64px auto;
}

.post .content a {
    color: #507a7a;
    border-bottom: 1px dashed #507a7a;
    text-decoration: none;
}

.post .content table {
  border-collapse: separate;
  border-spacing: 2px;
}
.post .content table th,
.post .content table td {
  padding: 6px 12px;
}
.post .content table thead {}
.post .content table thead tr {}
.post .content table thead tr th {
  background-color: #dce5e5;
}
.post .content table tbody {}
.post .content table tbody tr {}
.post .content table tbody tr td {
  background-color: #f0f7f7;
}

.post .content ul {
  list-style-type: square;
}

/*
.post .content p + .highlight,
.post .content p + pre {
  margin-top: -24px;
}
*/

.post .content pre,
.post .content code {
    background-color: #f8f8f8;
    font-family: 'Menlo', 'Monaco', 'Consolas', 'monospace';
    font-size: 12pt;
    line-height: 1.6em;
}

.post .content pre {
    padding: 8px 16px;
    border-radius: 2px;
    overflow-x: scroll;
}

.post .content h1,
.post .content h2,
.post .content h3,
.post .content h4,
.post .content h5,
.post .content h6 {
    margin-top: 48px;
}

.post .content p {
    color: #233;
    /* margin: 32px 0; */
}

.post .content ul,
.post .content ol {
  padding-left: 1.6em;
}

.post .content ul li:not(:last-child),
.post .content ol li:not(:last-child) {
  margin-bottom: 8px;
}

.post .content img {
    display: block;
    max-width: 750px;
    box-shadow: 0 0 18px rgba(0,0,0,0.25);
    margin: 16px auto 18px auto;
}

.post .content figcaption {
    /*text-align: center;*/
    font-size: 0.9em;
    line-height: 1.6em;
    color: #555;
    font-weight: 400;
    margin: -16px 16px 12px 16px;
    text-align: center;
}

footer {
    margin: 32px auto;
    text-align: center;
    color: #8aa;
}

footer .copyright {
    display: inline-block;
    /*margin: 16px auto;*/
}

footer > *:not(:last-child):after {
    content: "__";
    margin: 0 16px;
    color: #bcc;
}

footer nav {
    display: inline-block;
    margin: 22px auto;
}

footer nav > ul {
    list-style: none;
    list-style-type: none;
    padding: 0;

    display: flex;
    justify-content: center;
}

footer nav > ul > li {
    list-style-type: none;
    /*display: block;*/
    /*flex-grow: 1;*/
    /*flex: 0 1 auto;*/
    /*text-align: center;*/
}

footer nav > ul > li:not(:last-child):after {
    content: "/";
    margin: 0 16px;
    color: #bcc;
}

footer nav > ul > li > a {
    color: #8aa;
    text-decoration: none;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .post-list .meta .meta-item {
    width: 100%;
  }

  .post-list .meta .meta-item:not(:first-child) {
    margin-left: 0;
    margin-top: 8px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
  .container-wrapper {
    padding: 8px 8px;
  }

  .post {
    padding-top: 16px;
  }
  
  .post .title {
      font-size: 2.8rem;
      margin: 32px auto;
  }
}
